*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
*.tool-versions

# Visual Studio Code
.vscode

# Rider
.idea

# Visual Studio 2015
.vs/

# Jetbrains Fleet
.fleet

# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Wire generate
wire_gen.go

# Swagger docs
docs/

# Test binary, built with `go test -c`
*.test
coverage.out
coverage.html
test_report.html
junit-report.xml

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
out/

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work
kafka-topic-creator-*.tgz
