<?xml version="1.0" encoding="utf-8"?>
<!-- File name extension must be .runsettings -->
<RunSettings>
    <RunConfiguration>
        <MaxCpuCount>10</MaxCpuCount>
    </RunConfiguration>
    <DataCollectionRunSettings>
        <DataCollectors>
            <DataCollector friendlyName="XPlat code coverage">
                <Configuration>
                    <ExcludeByFile>**/Domain/**/*.cs,**/Entrypoint/Rest/Exception/*.cs,**/Entrypoint/Rest/Json/**/*.cs,**/Program.cs,**/Startup.cs</ExcludeByFile>
                </Configuration>
            </DataCollector>
        </DataCollectors>
    </DataCollectionRunSettings>
</RunSettings>