<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="APP_NAME" value= "food-restaurant"/>
    <property name="ENVIRONMENT" value="${spring.profiles.active}"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="local || k8s">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="hmg || prd">
        <jmxConfigurator />

        <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <jsonGeneratorDecorator class="net.logstash.logback.mask.MaskingJsonGeneratorDecorator">
                    <defaultMask>****</defaultMask>

                    <path>id</path>
                    <path>name</path>
                </jsonGeneratorDecorator>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="jsonConsoleAppender"/>
        </root>
    </springProfile>
</configuration>
